.color-scheme-1 {
	color: rgb(0,0,0);
}

.color-scheme-2 {
	color: rgb(255,255,255);
}

.color-scheme-3 {
	color: rgb(44,88,104);
}

.color-scheme-4 {
	color: rgb(66,99,49);
}

.color-scheme-background-1 {
	background: rgb(0,0,0);
}

.color-scheme-background-2 {
	background: rgb(255,255,255);
}

.color-scheme-background-3 {
	background: rgb(44,88,104);
}

.color-scheme-background-4 {
	background: rgb(66,99,49);
}

.new-colour-1 {
	color: #031727;
}

.new-colour-2 {
	color: #126872;
}

.new-colour-3 {
	color: #0B877D;
}

.new-colour-4 {
	color: #18C29C;
}

.new-colour-5 {
	color: #88F9D4;
}

.new-bg-colour-1 {
	background-color: #031727;
}

.new-bg-colour-2 {
	background-color: #126872;
}

.new-bg-colour-3 {
	background-color: #0B877D;
}

.new-bg-colour-4 {
	background-color: #18C29C;
}

.new-bg-colour-5 {
	background-color: #88F9D4;
}