<style>
.row{
	margin-top:45px;
}


</style>
<div class="row">
	<div class="col-sm-2">
		<a href="index.php?page=home"><button id="backToLink" type="button" class="btn btn-primary">Back</button></a>
	</div>
	<div class="col-sm-8">
		<h3 style="display:inline">Settings</h3>
	</div>
</div>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8">
		<h3>I suppose that this page will contain various system settings such as colour scheme, text size, and medication notifications.</h3>
	</div>
</div>
